.cart {
	display: flex;
	background-color: rgb(197, 194, 194);
	justify-content: space-around;
	padding: 3%;
}

.product {
	display: flex;
	justify-content: space-around;
}

.prod {
	margin-right: 2%;
}

.totalprice {
	background-color: white;
	padding: 3%;
	height: 200px;
	margin-top: 10%;
}

.img-prod {
	height: 300px;
	width: 300px;
}

footer {
	text-align: center;
	background-color: gray;
	color: white;
	padding: 2%;
	margin-top: 2%;
}
